.careersContainer {
  background-color: #faedcd;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #7e945b;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.careersButton {
  background-color: #7e945b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.careersButton:hover {
  background-color: #ccd5ae;
  transform: scale(1.05);
  color: black;
  font-weight: bold;
}

.careersButton:active {
  background-color: #005528;
  transform: scale(0.95);
}
