.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #faf5e6;
}

.container > * {
  margin: 20px 0; 
}

.centeredButtons {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.descriptionSlideshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px; 
}

@media (max-width: 1000px) {
  .descriptionSlideshow {
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
  }

  .container > * {
    margin: 20px 0; 
  }

  .centeredButtons {
    flex-direction: column;
    gap: 10px;
  }
}

.contactSection {
  display: flex;
  justify-content: center;
}
