.descriptionBox {
  background-color: #faedcd;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #7e945b;
  max-width: 700px;
  margin: 20px auto;
  max-height: 700px; /* Set a fixed height for the carousel */
  min-height: 385px;;
}

.locationLink {
  color: #008d41;
  text-decoration: underline;
}

.locationLink:hover {
  text-decoration: none;
}

.buttonWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex-shrink: 0;
}

.logoImage {
  border-radius: 50%;
}

.textContainer {
  flex: 1;
}

/* Media query for screens smaller than 1000px */
@media (max-width: 1000px) {
  .flexContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align stacked items */
  }

  .textContainer {
    text-align: center; /* Center text when stacked */
  }

  .buttonWrapper {
    margin-top: 20px;
    width: 100%; /* Ensure the button takes full width of the container */
    display: flex;
    justify-content: center;
  }

  .logoImage {
    margin-bottom: 10px; /* Add spacing below the logo */
  }
}
