.carouselContainer {
    width: 100%; /* Ensure the container takes full width */
    max-width: 500px; /* Set a maximum width for larger screens */
    min-width: 300px; /* Set a maximum width for larger screens */
    min-height: 385px; /* Set a fixed height for the carousel */
    max-height: 385px; /* Set a fixed height for the carousel */
    margin: 0 auto; /* Center the carousel horizontally */
    overflow: hidden; /* Ensure no content spills out */
    border-radius: 15px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    background-color: #fff; /* Ensure the background is white */
  }
  
  .carouselImage {
    width: 100%; /* Ensure the image takes full width of the container */
    min-height: 385px; /* Set a fixed height for the carousel */
    object-fit: cover; /* Maintain aspect ratio and ensure the image fills the entire container */
    display: block; /* Make sure there are no gaps */
    transition: none; /* Disable hover transitions for now to prevent resizing during image change */
    border-radius: 15px; /* Adds rounded corners */

  }
  
  .carouselContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .carouselImage:hover {
    transform: scale(1.05); /* Slight hover zoom */
  }
  