.carouselContainer {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    min-height: 385px;
    max-height: 385px;
    margin: 0 auto; 
    overflow: hidden; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .carouselImage {
    width: 100%;
    min-height: 385px;
    object-fit: cover;
    display: block; 
    transition: none; 
    border-radius: 15px; 

  }
  
  .carouselContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .carouselImage:hover {
    transform: scale(1.05);
  }
  