.returnButton {
    background-color: #7e945b; 
    color: #fff;
    padding: 12px 24px; 
    border: none; 
    border-radius: 30px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
  }
  
  .returnButton:hover {
    background-color: #ccd5ae; 
    transform: scale(1.05); 
    color: black;
    font-weight: bold;
  }
  
  .returnButton:active {
    background-color: #005528; 
    transform: scale(0.95);
  }
  
