.redirectButton {
  background-color: #7e945b; 
  color: #fff; 
  border: none; 
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  text-align: center; 
  margin: 20px auto; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

.redirectButton:hover {
  background-color: #ccd5ae;
  transform: scale(1.05); 
  color: black;
  font-weight: bold;
}

.redirectButton:active {
  background-color: #005528; 
  transform: scale(0.95); 
}
